*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: black;
}
::-webkit-scrollbar{
  width: 0;
  height: 1px;
}
::-webkit-scrollbar-thumb{
  background-color: rgba(0, 0, 0, 0.142);
  border-radius: 20px;
  height: 200px;
}
.search-bar{
  border: none;
  outline: none;
  font-size: 1rem;
  margin-top: 12px;
  width: 400px; 
}
.category-btn{
  border: none;
  border-radius: 7px;
  font-weight: 600;
  text-transform: capitalize;
  padding: 8px 22px;
  margin: 10px ;
  cursor: pointer;
  outline: none;
  border: none;
  transition: 0.3s all;
  font-size: 0.95rem;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.7);
}
.category-btn:hover{
  background-color: rgba(255, 0, 0, 0.2);
  color: rgb(223, 0, 0);
}
.react-player {
	height: 77vh !important;
	width: 100% !important;
}
@media screen and (max-width: 600px) {
	.search-bar {
		width: 100px;
	}
	.react-player {
		height: 45vh !important;
	}
}